*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  color: var(--text-color);
}

:root {
  /* COLORS */
  /* Brand */
  --snitp-sun: hsla(47, 100%, 56%, 1);
  --snitap-sky-mid: hsla(189, 94%, 43%, 1);
  --snitap-sky-light: hsla(187, 92%, 69%, 1);
  --snitap-joy-mid: hsla(333, 71%, 51%, 1);
  --snitap-joy-light: hsla(329, 86%, 70%, 1);
  --snitap-leaf-mid: hsla(142, 76%, 36%, 1);

  /* Base */
  --text-color: hsla(0, 0%, 0%, 1);
  --highlights-color: hsla(0, 0%, 0%, 1);
  --bg-color: hsla(0, 0%, 98%, 1);

  /* TYPOGRAPHY */
  --title-font: Syne, sans-serif;
  --h1: 700 4rem/125% var(--title-font);
  --h2: 700 2.5/120% var(--title-font);

  --text-font: Montserrat, sans-serif;
  --button: 500 1rem/150% var(--text-font);
  --span: 500 0.875rem/150% var(--text-font);
}

nav {
  margin: auto;
  width: 100%;
  max-width: 80rem;
  padding: 0.75rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;

    & img {
      width: 2rem;
      height: 2rem;

      transition: transform 500ms;

      &[src*='logo']:hover {
        transform: rotate(90deg);
      }

      &[src*='shop']:hover {
        transform: rotate(-30deg);
      }
    }

    position: relative;

    & span {
      position: absolute;
      top: 0;
      right: 0;

      background-color: var(--snitp-sun);
      border-radius: 50%;
      width: 1.25rem;
      height: 1.25rem;

      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;

      font: var(--span);
    }
  }
}

#hero {
  margin: auto;
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  gap: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  & .text {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & h1 {
      width: 43.5rem;

      font: var(--h1);

      & div {
        overflow: hidden;
        width: min-content;
        height: 5rem;

        display: inline-block;
        vertical-align: bottom;

        & span {
          display: block;

          animation: slideUp 5s 2s infinite ease;
          &:nth-child(1),
          &:nth-child(4) {
            color: var(--snitap-sky-mid);
          }

          &:nth-child(2) {
            color: var(--snitap-joy-light);
          }

          &:nth-child(3) {
            color: var(--snitap-leaf-mid);
          }
        }
      }
    }

    & .buttons {
      display: flex;
      gap: 2rem;

      & a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;

        font: var(--button);
        text-transform: uppercase;

        & img {
          width: 1.5rem;
          height: 1.5rem;
        }

        &.primary {
          padding: 1.5rem 3rem;
          background-color: var(--snitp-sun);
          border-radius: 5rem;
          box-shadow: 0px 57px 16px 0px hsla(0, 0%, 0%, 0),
            0px 36px 15px 0px hsla(0, 0%, 0%, 0.01),
            0px 20px 12px 0px hsla(0, 0%, 0%, 0.05),
            0px 9px 9px 0px hsla(0, 0%, 0%, 0.09),
            0px 2px 5px 0px hsla(0, 0%, 0%, 0.1);
        }

        &.secondary {
          & span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.5rem;

            box-shadow: 0px 57px 16px 0px hsla(0, 0%, 0%, 0),
              0px 36px 15px 0px hsla(0, 0%, 0%, 0.01),
              0px 20px 12px 0px hsla(0, 0%, 0%, 0.05),
              0px 9px 9px 0px hsla(0, 0%, 0%, 0.09),
              0px 2px 5px 0px hsla(0, 0%, 0%, 0.1);
            border-radius: 50%;
          }
        }

        transition: transform 350ms;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  & .image-box {
    display: block;
    width: 100%;
    max-width: 30.5rem;
    height: 30.5rem;

    & .snitap {
      position: relative;

      height: 100%;
      width: 100%;

      & img {
        position: absolute;

        width: 100%;

        &[src*='ellipse'] {
          width: 94%;
          top: 3%;
          left: 3%;

          transform: translateX(200%);
          animation: slideIn 3s 200ms ease forwards;
        }

        &[src*='patins'] {
          z-index: 1;

          transform: translateX(200%);
          animation: slideIn 3s ease forwards;
        }

        &[src*='stars-1'] {
          max-width: 5.5rem;
          top: 30%;
          z-index: 0;

          opacity: 0;
          transform: translateX(400%);
          animation: slideIn 2s 800ms ease both, appear 100ms 800ms both;
        }

        &[src*='stars-2'] {
          max-width: 2.5rem;
          right: 0;
          bottom: 35%;
          z-index: 0;

          transform: translateX(400%);
          animation: slideIn 2.2s 800ms ease both;
        }
      }
    }
  }
}

#banner {
  width: 100vw;
  padding-block: 2.5rem;
  overflow: hidden;

  & .scroller {
    background: linear-gradient(90deg, hsla(329, 86%, 70%, 1) 0%, hsla(187, 92%, 69%, 1) 100%);
    background-size: 400%;
    background-position: 0 50%;

    width: 100%;
    padding-block: 1rem;
    overflow: hidden;

    animation: gradientAnimation 15s ease infinite;

    & .rolling {
      display: flex;
      gap: 1.5rem;

      animation: rolling 2s linear infinite;
    }
  }
}

@keyframes slideUp {
  0%,
  22% {
    transform: translateY(0);
  }

  23% {
    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));
  }

  27% {
    transform: translateY(calc(-5rem - 5px));
  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  56% {
    transform: translateY(calc(-10rem - 15px));
  }

  58% {
    transform: translateY(calc(-10rem + 10px));
  }

  60% {
    transform: translateY(calc(-10rem - 5px));
  }

  62% {
    transform: translateY(calc(-10rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-10rem);
  }

  89% {
    transform: translateY(calc(-15rem - 15px));
  }

  91% {
    transform: translateY(calc(-15rem + 10px));
  }

  93% {
    transform: translateY(calc(-15rem - 5px));
  }

  95% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-132px);
  }
}

@keyframes gradientAnimation {
  50% {
    background-position: 100% 50%;
  }
}
